.wrapper-main {
  .el-carousel {
    width: 100%;
    margin-top: -100px;
    .el-carousel__container .el-carousel__item .banner-item {
      width: 100%;
      height: 100%;

      &.one {
        //background: url(../img/banner-02.jpg) no-repeat center center;
        background: url(../testImg/banner07.jpg) no-repeat center center;
        background-size: 1920px 1100px;

      }

      &.two {
        background: url(../testImg/banner04.jpg) no-repeat center center;
        background-size: 1920px 1100px;

      }
      &.three {
        background: url(../testImg/banner08.jpg) no-repeat center center;
        image-resolution: from-image;
        background-size: 1920px 1100px;
      }
    }
  }

  .left-box {
    width: 150px;
    height: 150px;
  }
  .hot-sell a.text{cursor: pointer; text-align: center;}
  .hot-sell a.text img{width: 100%; transition: 1.2s;}

  .hot-sell a.text div{overflow: hidden;}
  .hot-sell a.text p{color: #999; font-size: 12px; line-height: 18px; padding-top: 22px; transition: 0.5s; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
  .hot-sell a.text p.price{color: #333; font-size: 14px; line-height: 38px; padding-top: 0; padding-bottom: 5px;}
  .hot-sell a.text:hover p{color: #FFF; background-color: #e6c9a2; transition: 0.5s;}
  .hot-sell a.text:hover p.price{color: #F00;}
  .hot-sell a.text:hover img{transform: scale(1.1); transition: 1.2s;}

  #product-name {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: larger;
    margin-bottom: 20px;
  }
  #champ{margin-top: 1px;
    .layui-row{
      a{
        width: 24.75%;
        margin-left: 4px;
      }
      .descration:hover{transform: scale(1.1); transition: 1.2s;}
      .descration{
        position: absolute;
        bottom: 40px;
        left: 0;
        width: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: rgba(0,0,0,.5);
        padding: 20px 50px;
        -webkit-transform: translate(-5%, 0);
        transform: translate(-5%, 0);
        .item_subbanner_text_box {
          border-left: 10px solid #fff;
          color: #fff;
          padding-left: 20px;
          text-shadow: 0 0 10px rgba(0,0,0,.5);
          .text_zh {
            font-size: 36px;
            font-weight: bold;
          }
          .text_en {
            font-size: 26px;
          }
        }
      }
      .pic-descration-forest{
        //background-image: url("./src/assets/testImg/bicycle08.jpg");
        .item_subbanner_text_box{
          border-left-color: #5daf34;
        }
      }
      .pic-descration-desert{
        .item_subbanner_text_box{
          border-left-color: #bb1d26;
        }
      }
      .pic-descration-road{
        .item_subbanner_text_box{
          border-left-color: #bfcbd9;
        }
      }
    }
  }
  #champ a{overflow: hidden;}
  #champ a img{width: 100%; transition: 1.2s;}
  #champ a img:hover{transform: scale(1.1); transition: 1.2s;}
  .desc-company{
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
    .company-info{
      height: auto;
      //background-color: #bfcbd9;
      .desc-word{
        background-color: #0C0C0C;
        width: 400px;
        height: 90px;
        margin-left: 25%;
        margin-top: 5%;
        text-align: center;
        line-height: 90px;
        border-left: 10px solid #fff;
        color: #fff;
        padding-left: 20px;
        text-shadow: 0 0 10px rgba(0,0,0,.5);
      }
    }
    .text-input{
      margin-top: 7%;
      height: auto;
      width: 450px;
      margin-left: 25%;
      pre{
        font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
        font-size: medium;
        color: #0C0C0C;
      }
    }
    .views{
      height: 80px;
      width: 300px;
      line-height: 80px;
      margin-left: 48%;
      margin-top: -15px;
      a:hover{
        color: #FD482C;
        cursor: pointer;
      }
    }
  }
  hr{
    margin-top: -1px;
    margin-bottom: -1px;
    height: 10px;
    font-weight: bolder;
  }
  .model-pro{
      width: 100%;
      height: auto;

    .model-title{
      h1{
        strong {
          color: #3acbc6;
        }
       p{
         color: #bfcbd9;
       }
        text-align: center;
        color: #191919;
        font-family: 'Poppins', sans-serif;
        font-size: 45px;
        line-height: 55px;
        font-style: italic;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: none;
      }
    }
    .model-pic-show{
      margin-top: 2%;
      .pic-content{
        width: 1000px;
        height: auto;
        margin-left: 24%;
        .bicycle-model{
          float: left;
          width: 500px;
          img{
            width: 500px;
            height: auto;
          }
          span{
            color: #c9c9c9;
            margin-left: 40%;
          }
        }
      }
    }

  }
}

